export(GARS.create.rnd.population)
export(GARS.FitFun)
export(GARS.Elitism)
export(GARS.Selection)
export(GARS.Crossover)
export(GARS.Mutation)
export(GARS.PlotFitnessEvolution)
export(GARS.PlotFeaturesUsage)
export(GARS.GA)
import(ggplot2)
import(MLSeq)
importFrom(DaMiRseq,DaMiR.makeSE)
importFrom(DaMiRseq,DaMiR.MDSplot)
importFrom(DaMiRseq,DaMiR.Clustplot)
importFrom(DaMiRseq,DaMiR.normalization)
importFrom(DaMiRseq,DaMiR.Allplot)
importFrom(DaMiRseq,DaMiR.FSort)
importFrom(DaMiRseq,DaMiR.FBest)
importFrom(DaMiRseq,DaMiR.EnsembleLearning)
importFrom(cluster,silhouette)
importFrom(stats, cmdscale, dist, runif)
importFrom(methods, is)