export(GARS_create_rnd_population)
export(GARS_FitFun)
export(GARS_Elitism)
export(GARS_Selection)
export(GARS_Crossover)
export(GARS_Mutation)
export(GARS_PlotFitnessEvolution)
export(GARS_PlotFeaturesUsage)
export(GARS_GA)
exportClasses(GarsSelectedFeatures)
exportMethods(MatrixFeatures)
exportMethods(LastPop)
exportMethods(AllPop)
exportMethods(FitScore)
import(ggplot2)
import(MLSeq)
import(SummarizedExperiment)
importFrom(DaMiRseq,DaMiR.makeSE)
importFrom(DaMiRseq,DaMiR.MDSplot)
importFrom(DaMiRseq,DaMiR.Clustplot)
importFrom(DaMiRseq,DaMiR.normalization)
importFrom(DaMiRseq,DaMiR.Allplot)
importFrom(DaMiRseq,DaMiR.EnsembleLearning)
importFrom(cluster,silhouette)
importFrom(stats, cmdscale, dist, runif)
importFrom(methods, is)
importFrom(methods, new)
